body {
    color:#d71313;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 1024px;
    margin: 0 auto;
    padding:0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.main-content{
    flex-grow: 1 ;
}

footer{
   color: rgb(2, 5, 173);
   background-color: #cccccc;
   border-top: 1px solid #eeeeee;
   margin-top: 16px;
   padding: 16px 0;
}

header{
    margin-top:16px;
    margin-bottom:48px;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
}

header a{
    color:#888888;
    margin-right: 16px;
    text-decoration:none;
}

.portrait {
    width: 250px;
}

input{
    border: 1px solid #cccccc;
    padding: 8px;
}

button{
    cursor:pointer;
    border:1px solid #888888;
    background: #888888;
    color:white;
    padding: 8 px;
}